<ul>
  <% if navbar_items.present? %>
    <li>
      <%=link_to "Blog", root_path %>
    </li>
    <% navbar_items.each do |page| %>
      <li>
        <%= link_to page.title, page_link_path(page), page_link_attributes(page) %>
      </li>
    <% end %>     
  <% end %>
</ul>