<div class="article-list">
  <% articles.each do |article|%>
    <%= render "articles/article_meta", article:article %>
    <% if article.description? %>
      <%= article.description %>
    <% else %>
      <%= raw HTML_Truncator.truncate(article.content.to_s, 10) %>
    <% end %>
  <% end %>
</div>

<%= render "components/pagination", 
    page: @page, 
    per_page: @per_page, 
    total_count: @total_count
    %>

