<div class="post-meta">
  <div class="post-date" style="color:grey">
    <time datetime="<%= article.created_at.to_date %>">
      Published on <%= article.created_at.to_date %>
    </time>
  </div>
</div>