<div class="article-list">
  <% articles.each do |article|%>
  <hr>
    <%= render "articles/article_meta", article:article %>
    <% if article.description.present? %>
      <%= article.description %>
    <% else %>
      <%= article.content %>
    <% end %>
    
  <% end %>
</div>
<hr>
<%= will_paginate articles %>