<!-- % content_for :title, "Admin" % --->

<%= render 'admin_bar' %>
<%= render 'article_status', scope: @posts %>
【<%= link_to "New", admin_pages_new_path(is_page: true) %>】
<% if @posts %>
<%= render 'article_list', articles: @posts %>
<% else %>
<p>No Pages Found</p>
<% end %>
