<!-- % content_for :title, "Admin" % --->

<%= render 'admin_bar' %>
<%= render 'post_status', scope: @posts %>
<%= link_to "New", admin_pages_new_path %>
<% if @posts %>
<%= render 'page_list', page: @posts %>
<% else %>
<p>No Pages Found</p>
<% end %>
