<!-- % content_for :title, "Admin" % --->
  
<%= render 'admin_bar' %>
<%= render 'article_status', scope: @posts %>
<%= link_to "New", admin_posts_new_path(is_page: false) %>
<% if @posts %>
<%= render 'article_list', articles: @posts %>
<% else %>
<p>No Posts Found</p>
<% end %>

