<b>Static Files</b>
<div id="static-files">
  <% Setting::STATIC_FILES.each do |file, config| %>
    <div class="static-file-item">
        <label><%= file.to_s %>:</label>
         <%= form.fields_for :static_files do |static_files| %>
          <%= static_files.text_area file.to_s,
              name: "setting[static_files][#{file}]",
              value: @setting.static_files&.dig(file.to_s),
              placeholder: config[:placeholder] %>
         <% end %>
    </div>
  <% end %>
</div>
