# SQLite. Versions 3.8.0 and up are supported.
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem "sqlite3"
#

postgresql: &postgresql
    adapter: postgresql
    username: <%= ENV.fetch("PGUSER") { "postgres" } %>
    password: <%= ENV.fetch("PGPASSWORD") { "postgres" } %>
    host: <%= ENV.fetch("PGHOST") { "localhost" } %>
    port: <%= ENV['DATABASE_PORT'] || 5432 %>
    pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
    timeout: 5000

sqlite3: &sqlite3
    adapter: sqlite3
    pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
    timeout: 5000

development:
    primary:
        <<: *sqlite3
        database: db/development.sqlite3
    cache:
        <<: *sqlite3
        database: db/development_cache.sqlite3
    cable:
        <<: *sqlite3
        database: db/development_cable.sqlite3
    queue:
        <<: *sqlite3
        database: db/development_queue.sqlite3
        migrations_paths: db/queue_migrate

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
    primary:
        <<: *sqlite3
        database: db/test.sqlite3
    cable:
        <<: *sqlite3
        database: db/test_cable.sqlite3
    cache:
        <<: *sqlite3
        database: db/test_cache.sqlite3
    queue:
        <<: *sqlite3
        database: db/test_queue.sqlite3
        migrations_paths: db/queue_migrate

# Store production database in the storage directory, which by default
# is mounted as a persistent Docker volume in config/deploy.yml.
production:
    primary:
        <<: *sqlite3
        database: storage/production.sqlite3
    cache:
        <<: *sqlite3
        database: storage/production_cache.sqlite3
        migrations_paths: db/cache_migrate
    queue:
        <<: *sqlite3
        database: storage/production_queue.sqlite3
        migrations_paths: db/queue_migrate
    cable:
        <<: *sqlite3
        database: storage/production_cable.sqlite3
        migrations_paths: db/cable_migrate
