<h3>Social Links</h3>

<div class="field">
  <%= form.label :social_links_json, "Social Links (JSON)" %>
  <%= form.text_area :social_links_json,
      value: @setting.social_links.present? ? JSON.pretty_generate(@setting.social_links) : nil,
      placeholder: '{
  "github": {
    "url": "https://github.com/versun",
    "icon": "fa-brands fa-github"
  },
  "twitter": {
    "url": "https://x.com/VersunPan",
    "icon": "fa-brands fa-square-x-twitter"
  },
  "mastodon": {
    "url": "https://mastodon.social/@versun",
    "icon": "fa-brands fa-mastodon"
  },
  "bluesky": {
    "url": "https://bsky.app/profile/versun.me",
    "icon": "fa-brands fa-square-bluesky"
  },
  "rss": {
    "url": "/feed.rss",
    "icon": "fa-solid fa-square-rss"
  }
}',
      rows: 15,
      style: 'font-family: monospace;' %>
  <small>Configure social platform links in JSON format. Each platform needs name, url, and FontAwesome icon class.</small>
</div>